In [91]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mpl # visualizations
import matplotlib.pyplot as plt

In [92]:
results=pd.read_csv('raw_data/results.csv') #import results dataset
races=pd.read_csv("raw_data/races.csv")
drivers=pd.read_csv("raw_data/drivers.csv")
pit_stops=pd.read_csv("raw_data/pit_stops.csv")

dtype('int64')

In [94]:
results

,Unnamed: 0.1,Unnamed: 0,resultId,raceId,driverId,constructorId,number,grid,position,positionText,...,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,milliseconds_numeric
0,0,0,1,18,1,1,22,1,1,1,...,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,5690616
1,1,1,2,18,2,2,3,5,2,2,...,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,5696094
2,2,2,3,18,3,3,7,7,3,3,...,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,5698779
3,3,3,4,18,4,4,5,11,4,4,...,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,5707797
4,4,4,5,18,5,1,23,3,5,5,...,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,5708630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7082,7082,25826,25832,1096,839,214,31,8,7,7,...,6.0,58,+57.240,5323154,45,5,1:29.333,212.817,1,5323154
7083,7083,25827,25833,1096,840,117,18,14,8,8,...,4.0,58,+1:16.931,5342845,42,9,1:29.620,212.135,1,5342845
7084,7084,25828,25834,1096,817,1,3,13,9,9,...,2.0,58,+1:23.268,5349182,45,18,1:30.785,209.413,1,5349182
7085,7085,25829,25835,1096,20,117,5,9,10,10,...,1.0,58,+1:23.898,5349812,35,15,1:30.312,210.510,1,5349812
7086,7086,25830,25836,1096,852,213,22,11,11,11,...,0.0,58,+1:29.371,5355285,40,7,1:29.489,212.446,1,5355285

In [93]:
subset=results.query("milliseconds.isnumeric()==False")
list_unique=pd.unique(subset["milliseconds"])
print(list_unique)

AttributeError: 'Series' object has no attribute 'isnumeric'

In [100]:
list_old=['\\N']
list_new=[0]
results["milliseconds"]=results["milliseconds"].replace(list_old,list_new)
results["milliseconds_numeric"] = pd.to_numeric(results["milliseconds"])
results=results.query('milliseconds_numeric >0')
results.to_csv("raw_data/results.csv")
results.dtypes

Unnamed: 0.1              int64
Unnamed: 0                int64
resultId                  int64
raceId                    int64
driverId                  int64
constructorId             int64
number                    int64
grid                      int64
position                 object
positionText             object
positionOrder             int64
points                  float64
laps                      int64
time                     object
milliseconds              int64
fastestLap               object
rank                     object
fastestLapTime           object
fastestLapSpeed          object
statusId                  int64
milliseconds_numeric      int64
dtype: object

In [101]:
pit_stops = pit_stops.rename(columns={'milliseconds': 'stopinmilliseconds'})
print(pit_stops.dtypes)
display(pit_stops)
sum_stoptimes=pit_stops.groupby(["raceId","driverId"]).agg(sum_milliseconds=('stopinmilliseconds','sum'))
display(sum_stoptimes)

raceId                 int64
driverId               int64
stop                   int64
lap                    int64
time                  object
duration              object
stopinmilliseconds     int64
dtype: object

      raceId  driverId  stop  lap      time duration  stopinmilliseconds
0        841       153     1    1  17:05:23   26.898               26898
1        841        30     1    1  17:05:52   25.021               25021
2        841        17     1   11  17:20:48   23.426               23426
3        841         4     1   12  17:22:34   23.251               23251
4        841        13     1   13  17:24:10   23.842               23842
...      ...       ...   ...  ...       ...      ...                 ...
9629    1096       849     2   38  18:02:50   25.174               25174
9630    1096       840     2   40  18:04:44   21.802               21802
9631    1096       839     2   41  18:06:09   21.734               21734
9632    1096       846     2   42  18:07:36   21.559               21559
9633    1096       855     2   44  18:11:10   23.159               23159

[9634 rows x 7 columns]

                 sum_milliseconds
raceId driverId
841    1                    46426
       2                    48092
       3                    23716
       4                    72165
       5                    24865
...                           ...
1096   848                  43591
       849                  47597
       852                  43853
       854                  45806
       855                  45594

[4701 rows x 1 columns]

In [102]:
results

,Unnamed: 0.1,Unnamed: 0,resultId,raceId,driverId,constructorId,number,grid,position,positionText,...,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,milliseconds_numeric
0,0,0,1,18,1,1,22,1,1,1,...,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,5690616
1,1,1,2,18,2,2,3,5,2,2,...,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,5696094
2,2,2,3,18,3,3,7,7,3,3,...,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,5698779
3,3,3,4,18,4,4,5,11,4,4,...,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,5707797
4,4,4,5,18,5,1,23,3,5,5,...,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,5708630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7082,7082,25826,25832,1096,839,214,31,8,7,7,...,6.0,58,+57.240,5323154,45,5,1:29.333,212.817,1,5323154
7083,7083,25827,25833,1096,840,117,18,14,8,8,...,4.0,58,+1:16.931,5342845,42,9,1:29.620,212.135,1,5342845
7084,7084,25828,25834,1096,817,1,3,13,9,9,...,2.0,58,+1:23.268,5349182,45,18,1:30.785,209.413,1,5349182
7085,7085,25829,25835,1096,20,117,5,9,10,10,...,1.0,58,+1:23.898,5349812,35,15,1:30.312,210.510,1,5349812
7086,7086,25830,25836,1096,852,213,22,11,11,11,...,0.0,58,+1:29.371,5355285,40,7,1:29.489,212.446,1,5355285

In [104]:
pit_races=pd.merge(pit_stops[['raceId','stopinmilliseconds']],
                               races[['raceId','year','date']],
                               on='raceId',
                           how="right")
final_results=pd.merge(pit_races[["raceId","stopinmilliseconds",'year','date']],
                       results[['raceId','driverId','milliseconds_numeric']],
                           on="raceId",
                           how="right")

In [103]:
season_results=(final_results.query("year==2012"))
season_results['date_new'] = pd.to_datetime(season_results["date"], format = "%Y-%m-%d")
display(season_results)
race_results_2012=(season_results.groupby(["raceId","driverId"]).agg(milliseconds_numeric=('milliseconds_numeric','mean'),))
final_re=pd.merge(race_results_2012,sum_stoptimes,
                           on="raceId",
                           how="right")
display(final_re)

/var/folders/bc/w82xsr4n5fj43n82_vqtwyvc0000gn/T/ipykernel_10881/2152369092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  season_results['date_new'] = pd.to_datetime(season_results["date"], format = "%Y-%m-%d")

,raceId,stopinmilliseconds,year,date,driverId,milliseconds_numeric,date_new
14870,860,24599.0,2012,2012-03-18,18,5649565,2012-03-18
14871,860,32319.0,2012,2012-03-18,18,5649565,2012-03-18
14872,860,22313.0,2012,2012-03-18,18,5649565,2012-03-18
14873,860,23203.0,2012,2012-03-18,18,5649565,2012-03-18
14874,860,22035.0,2012,2012-03-18,18,5649565,2012-03-18
...,...,...,...,...,...,...,...
27726,879,24816.0,2012,2012-11-25,155,6353906,2012-11-25
27727,879,22389.0,2012,2012-11-25,155,6353906,2012-11-25
27728,879,14128.0,2012,2012-11-25,155,6353906,2012-11-25
27729,879,21849.0,2012,2012-11-25,155,6353906,2012-11-25
27730,879,21973.0,2012,2012-11-25,155,6353906,2012-11-25

        milliseconds_numeric  sum_milliseconds
raceId
841                      NaN             46426
841                      NaN             48092
841                      NaN             23716
841                      NaN             72165
841                      NaN             24865
...                      ...               ...
1096                     NaN             43591
1096                     NaN             47597
1096                     NaN             43853
1096                     NaN             45806
1096                     NaN             45594

[10383 rows x 2 columns]

In [85]:
race_results_2012_sorted=race_results_2012.sort_values(by='date_new')
display(race_results_2012_sorted)
race_re2012=race_results_2012_sorted.apply(lambda x: x.sort_values(by='milliseconds_numeric')).reset_index(drop=True)
display(race_re2012)

KeyError: 'date_new'

In [90]:
conditional_average = season_results[season_results['raceId'] ==860].groupby("driverId")['stopinmilliseconds'].sum()
display(conditional_average)

driverId
1      1012984.0
3      1012984.0
4      1012984.0
8      1012984.0
17     1012984.0
18     1012984.0
20     1012984.0
155    1012984.0
814    1012984.0
815    1012984.0
817    1012984.0
818    1012984.0
Name: stopinmilliseconds, dtype: float64

In [84]:
race860=(season_results.query("raceId==860","driverId==1").agg(stoptime_sum=("stopinmilliseconds",'sum')))
display(race860)

TypeError: DataFrame.query() takes 2 positional arguments but 3 were given